<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<Anonymous>
		<Action path="menu" label="Menu">
			<Action path="request" label="Request" >
				<Action path="blob" label="Blob" />
			</Action>				
		</Action>
		<Action path="mucu" label="Mucu" parent="menu" />
		<Action path="cucu" label="Mucu" parent="menu" />
		<Action path="bucu" label="Mucu" parent="menu" />
		<Action path="ducu" label="Mucu" parent="menu" />

		<Allows methods="GET>
			<Method>GET</Method>
			<URL>User/*</URL>
			<URL>User/*/Blog</URL>
			<URL>User/#/SubUser/*</URL>
		</Allows>
	</Anonymous>

	<Captcha>
		<Allows methods="GET" filter="userAuth">
			<URL>User/*</URL>
			<URL>User/*/Blog</URL>
			<URL>User/#/SubUser/*</URL>
		</Allows>
	</Captcha>

	<Right name="Requests inspection">
		<Actions>
			<Action path="menu_2" />
			<Action path="menu_2.request" script="/js/aaa.js">Request</Action>
		</Actions>
		<Action path="menu_3" label="Menu">
			<Action path="request" label="Request" />
		</Action>
		<Action path="mucu" label="Mucu" parent="menu_2" />

		<Allows filter="userAuth">
			<Method>GET</Method>
			<URL>User/*</URL>
			<URL>User/*/Blog</URL>
			<URL>User/#/SubUser/*</URL>
		</Allows>

		<Description>Allows for the viewing of all possible requests that can be made on the REST server, also the plugins and
			components that are part of the
			application are also visible.
		</Description>
	</Right>

</Config>
